body{
    background-color: lightseagreen;
}

#page-title{
    font-size: 50px;
    text-align: center;
    color: white;
    border-bottom: 3px solid white;
    padding: 20px;
}

#add-book{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 25px auto;
}

#add-book:hover{
    background-color: lightgreen;
    transform: scale(1.1);
    color: black;
}

#add-book:active{
    transform: translateY(1px);
}

#library-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card{
    width: 230px;
    height: 200px;
    background-color: white;
    margin: 10px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px darkcyan;
    overflow-wrap: break-word;
}

.book-card p {
    font-size: 18px;
    padding: 10px;
}

#form{
    display: none;
    border: 3px solid black;
    width: 300px;
    height: 320px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
    background-color: white;
}

#form-h1{
    background-color: lightgreen;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

input {
    width: 65%;
    margin: 5px;
}

.form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-top: 5px;
}

#form-buttons{
    text-align: center;
}

#form-buttons button{
    margin: 10px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    font-size: 16px;
}

#submit{
    background-color: lightgreen;
}

#cancel{
    background-color: rgb(255, 122, 122);
}


